<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{%static 'styleabout.css'%}">
    <title>Bob Yang: About</title>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo"><a href="#">Bob Yang.</a></div>
            <ul class="links">
                <li><a href= "{% url 'website:cover' %}">Home</a> </li>
                <li><a href= "{% url 'website:project_index' %}">Projects</a> </li>
                <li><a href= "{% url 'website:work' %}">Work</a> </li>
                <li><a href= "{% url 'website:about' %}">About</a> </li>
                <li><a href= "{% url 'website:resume' %}">Resume</a> </li>
            </ul>
        </div>

        <hr class="divider">
    </header>
    <div class="about">
        
        <div class="languages">
            <h2>Spoken Languages</h2>
            <ul class="list-1">
                <li>> English</li>
                <li>> French</li>
                <li>> Mandarin</li>
            </ul>
        </div>

        <div class="hobbies">
            <h2>Hobbies</h2>
            <ul class="list-2">
                <li>> Hiking</li>
                <li>> Gym</li>
                <li>> Video Games</li>
            </ul>

        </div>

        <div class="movies">
            <h2>Favourite Show / Movie Genres</h2>
            <ul class="list-3">
                <li>> Anime</li>
                <li>> Action</li>
                <li>> Sci-Fi</li>
                <li>> Rom-com</li>
            </ul>

            <h3>Currently watching: Jujutsu Kaisen S2</h3>
        </div>

        <div class="sports">
            <h2>Sports</h2>
            <ul class="list-4">
                <li>> Basketball</li>
                <li>> Soccer</li>
                <li>> Table Tennis</li>
            </ul>

        </div>

    </div>
    

</body>
</html>