<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{%static 'styleresume.css'%}">
    <title>Bob Yang: Resume</title>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo"><a href="#">Bob Yang.</a></div>
            <ul class="links">
                <li><a href= "{% url 'website:cover' %}">Home</a> </li>
                <li><a href= "{% url 'website:project_index' %}">Projects</a> </li>
                <li><a href= "{% url 'website:work' %}">Work</a> </li>
                <li><a href= "{% url 'website:about' %}">About</a> </li>
                <li><a href= "{% url 'website:resume' %}">Resume</a> </li>
            </ul>
        </div>

        <hr class="divider">
    </header>

    <span class="view">
    <button class="button-85" onclick="window.open('https://drive.google.com/file/d/1YVJNxLuZsRAWiuHERPPWLGzdaF_U0wHY/view?usp=sharing');">
        <span class="text">View Resume as PDF</span>
    </button>
    </span> 


</body>
</html>